<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABMqHfyZl-NslnuJD707IW0H7Kq7iciZA</string>
	<key>GCM_SENDER_ID</key>
	<string>677125221875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meeyid.app</string>
	<key>PROJECT_ID</key>
	<string>meeyid-cursor</string>
	<key>STORAGE_BUCKET</key>
	<string>meeyid-cursor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677125221875:ios:ea7b550167947a8983f686</string>
</dict>
</plist>