<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwTZnWe45BrsIkQGK9ckaZfWmkCfI9JPg</string>
	<key>GCM_SENDER_ID</key>
	<string>370293744175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meeyid.app.staging</string>
	<key>PROJECT_ID</key>
	<string>meeyid-cursor-st</string>
	<key>STORAGE_BUCKET</key>
	<string>meeyid-cursor-st.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370293744175:ios:d16e01e9ae90c2b3f59cda</string>
</dict>
</plist>